.modelRange-title{
    text-align: center;
    margin-bottom: 20px;
}

.modelRange-title h1{
    font-size: 32px;
    line-height: normal;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.slds-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050; 
}

.slds-modal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0;
}

.slds-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1040;
}

.slds-modal__header {
    padding: 10px 15px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: bold;
}

.slds-modal__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
}

.slds-modal__content img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; 
}

.slds-modal__content p {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.slds-modal__footer {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid #dcdcdc;
}

@media (max-width:780px) {
    .slds-modal__container {
        font-size: 1.2rem; 
    }
}

@media (max-width:480px) {
    .slds-modal__container {
        font-size: 1rem;
        height: auto;
        max-height: 90%; 
    }
    .slds-modal__header {
        font-size: 1.2rem; 
    }
}